<table class="cart">
<tr class="cartheader">
<th>Name</th><th>Quantity</th><th>Price</th></tr>
[% FOREACH cart %]
<tr class="cartitem">
<td class="name">[% title %]</td>
<td><input class="quantity" name="quantity" size="3" value="[% quantity %]"></td>
<td class="price">[% price %]</td>
</tr>
[% END %]
<<tr class="cartheader"><th colspan="2"></th><th>Total</th></tr>
<tr>
<td colspan="2"></td><td class="cost">[% total %]</td>
</tr>
</table>