table { 
  font-size: 4em;
  width: 80%;
}

input { 
  font-size: 1em;
}

.cartheader th {
        background-color: #CAD2FB;
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        color: #003399;
}

.cart td{
        padding: 6px;
        margin: 0;
        color: #3B599C;
}

.cart tr, .cart td  {
        border-bottom: 3px solid white;
}

.cart tr.odd td{
        background-color: #E8EDFF;
}

.cart tr.even td{
        background-color: #F6F7FF;
}
